Results for week beginning ${week_start.strftime("%F")}
<h2>People who posted</h2>
<ul>
% for u in sorted(good, key=lambda u:u.username):
<li><b>${u.username}:</b>
  <ul>
 % for p in u.weeks[week]:
   <li><a href="${p['url']}">${p['title'] or "[untitled post]"}</a></li>
 % endfor
  </ul>
</li>
% endfor
</ul>

<h2>People who failed to post</h2>
<ul>
% for u in sorted(lame, key=lambda u:u.username):
<li><b>${u.username}</b></li>
% endfor
</ul>

% if skip:
<h2>People who have not yet started</h2>
<ul>
% for u in sorted(skip, key=lambda u:u.username):
  <li><b>${u.username}</b></li>
% endfor
</ul>
% endif

<h2>Beer pool:</h2>
<table>
  <tr> <td> This week: </td> <td> $${5 * len(lame)}.00 </td> </tr>
  <tr> <td> Total: </td> <td> $${pool}.00 </td> </tr>
  <tr> <td> Paid: </td> <td> $${paid}.00 </td> </tr>
</table>

<h2>Debts:</h2>
<table>
% for (u, v) in sorted(debts, key=lambda p:p[1], reverse=True):
<tr><td>${u}</td> <td>${v}</td></tr>
% endfor
</table>
